<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
	.container{
		margin-top:50px;
	}
 th {text-align:center}
</style>
  </head>

  <body>

<div class="container">
<div class="col-md-8 col-md-offset-2 text-center">

<div class="bs-example" data-example-id="hoverable-table">
    <form name="bookform" action="/deletebooks" method="GET">
    <table class="table table-hover">
      <thead>
        <tr>
<!--          <th>#</th> -->
          <th>序号</th>
          <th>书名</th>
          <th>数量</th>
          <th>选择</th>
        </tr>
      </thead>
      <tbody>
	{% for book in list_books %}
        <tr>
<!--          <th scope="row">1</th> -->
          <td>{{book.bookid}}</td>
          <td>{{book.bookname}}</td>
          <td>{{book.nums}}</td>
          <td><input type="checkbox" name={{book.bookid}} value={{book.remark}}></td>
        </tr>
	{% endfor %}
      </tbody>
    </table>
</div>
<div class="row">
<div class="col-md-3 col-md-offset-9 "> 

 <input type="button" class="btn btn-default" value="借书" onclick="deleteAction()">
 <input type="button" class="btn btn-default" value="还书" onclick="addAction()">

<script type="text/javascript">
function addAction(){
    document.bookform.action="/addbooks";
    document.bookform.submit();
}
 
function deleteAction(){
    document.bookform.action="/deletebooks";
    document.bookform.submit();
}
 
function saveAction(){
    document.demo.action="your add save url";
    document.demo.submit();
}
 
function searchAction(){
    document.demo.action="your serach method url";
    document.demo.submit();
}
</script>
</div>
</div>

  </form>
  </div><!-- /example --> 
<div class="col-md-12 col-md-offset-1 block-center">
<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	{% for page in range(1,pages+1) %}
    <li><a href="?page={{ page }}">{{ page }}</a></li>
	{% endfor %}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
</div>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

